.navBar {
    background: #222 !important;
    position: fixed;
    z-index: 10 !important;
    width: 100%;
}

.icon h1 {
    display: flex;
    align-items: center;    
    margin-left: 10px;
    font-size: 25px;
    color: #fff;
}

.icon i {
    display: flex;
    align-items: center;    
}

.logo {
    font-size: 40px;
    color: #372B47;
}

.btn_entrar {
    background: #6923FF;
    padding: 5px 30px;
    border-radius: 60px;
    color: #fff !important;
    margin-left: 15px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}

.icon {
    width: 25px;
    height: 25px;
}

.link {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro:hover{
    color: white;
}

.link:hover {
    color: rgb(97, 97, 210);
}

.registro {
    color: white;
    margin-left: 3rem;
}

.btn_entrar {
    margin-left: 5px !important;
}