.navbar {
    background: #fff;
}

.icon h1 {
    display: flex;
    align-items: center;    
    margin-left: 10px;
    font-size: 25px;
}

.icon i {
    display: flex;
    align-items: center;    
}

.logo {
    font-size: 40px;
    color: #372B47;
}

.btn_entrar {
    background: #6923FF;
    padding: 5px 30px;
    border-radius: 60px;
    color: #fff !important;
    margin-left: 15px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}

.icon {
    width: 25px;
    height: 25px;
}